{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title> {% block title %} {% endblock title %} </title>

   {% block style %}
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
   {% endblock style %}


</head>
<body>
{% include 'Navbar.html' %}

 {% block alarts %}

 {% endblock alarts %}


{% block content %}

{% endblock content %}

{% block form  %}

{% endblock form %}
<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/proper.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>


</body>
</html>