{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
   {% endblock style %}

{% block content %}
    <div class="mt-2 my-alert">
        {% if messages %}
        {% for msg in messages %}
            <p{% if msg.tags %} class="alert alert-{{ msg.tags }} {% endif %} align-center">{{ msg }}</p>
        {% endfor %}
    {% endif %}
    </div>

    <div class="container mt-5">
       <div class="">
           <h3 class="text-center">Login Here to Access</h3>
        <form action="" method="POST"  novalidate>
            {% csrf_token %}
                {% for fm in form %}
                    <div class="form-group">
                    {{ fm.label_tag }} {{ fm }} <small class="text-warning">{{ fm.errors|striptags }}</small>
                    </div>
                {% endfor %}
             <input type="submit" value="Login" class="btn btn-success mt-3 my-btn">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{ error }}</p>
    
                {% endfor %}
            {% endif %}
        </form>
       </div>
    </div>
{% endblock content %}
